default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.8
    hooks:
      - id: commitizen
        stages:
          - commit-msg
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        args:
          - -t
          - warning
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint-fix
        args:
          - "-i"
          - "CHANGELOG.md"
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.31.1
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/google/yamlfmt.git
    rev: v0.21.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.4.4
    hooks:
      - id: biome-format
